### MOVIE RECOMMENDATION SYSTEM

In [ ]:
import ipywidgets as widgets
from IPython.display import display
import pandas as pd
import datetime

In [ ]:
!pip install ipywidgets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (7.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (3.0.2)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (7.9.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (5.1.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (5.3.4)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (0.7.5)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets) (2.6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets) (5.3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (2.11.3)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (4.11.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (5.4.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (1.8.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.13.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (23.2.1)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (2.0.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (5.0.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (2.16.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (5.9.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.18.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (4.1.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (4.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (22.1.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (3.8.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets) (0.5.1)
Installing collected packages: jedi
Successfully installed jedi-0.18.1

In [ ]:
!wget https://www.dropbox.com/s/bg1cb5mon42qvkk/movies.csv

--2022-09-10 09:28:03--  https://www.dropbox.com/s/bg1cb5mon42qvkk/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/bg1cb5mon42qvkk/movies.csv [following]
--2022-09-10 09:28:04--  https://www.dropbox.com/s/raw/bg1cb5mon42qvkk/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com/cd/0/inline/Bsoh7u8hNKiCw5DUC1EftzrjV_JYI0VaAdc9UyXUmc8VtbuH6Nxr89bnZ-6JB5cS8f0aZfsYoLX3xCBndqpTzSvP6P7zzTPyWAQZOlyxYbG9VBq6UiUdLHDhOMxV5k9Wmq-UQchjgVRo_phXjeSGLY_x1o2L8nEGeZL_C4ieR5BFUA/file# [following]
--2022-09-10 09:28:04--  https://ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com/cd/0/inline/Bsoh7u8hNKiCw5DUC1EftzrjV_JYI0VaAdc9UyXUmc8VtbuH6Nxr89bnZ-6JB5cS8f0aZfsYoLX3xCBndqpTzSvP6P7zzTPyWAQZOlyxYbG9VBq6UiUdLHDhOMxV5k9Wmq-UQchjgVRo_phXjeSGLY_x1o2L8nEGeZL_C4ieR5BFUA/file
Resolving ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com (ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6018:15::a27d:30f
Connecting to ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com (ucf2a9f1a16ce88fa213308b302f.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 515699 (504K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 503.61K   728KB/s    in 0.7s

2022-09-10 09:28:05 (728 KB/s) - ‘movies.csv’ saved [515699/515699]

In [ ]:
!wget https://www.dropbox.com/s/4v03n0zv3e6gpk7/ratings.csv

--2022-09-10 09:29:18--  https://www.dropbox.com/s/4v03n0zv3e6gpk7/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/4v03n0zv3e6gpk7/ratings.csv [following]
--2022-09-10 09:29:18--  https://www.dropbox.com/s/raw/4v03n0zv3e6gpk7/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com/cd/0/inline/BsoyAcVhwMsBu0rhmPBleeRal6FLfNOHA350YNwh02yRSuqEFMbmIwo83VW8K9QtWfOb-DbBNWwfQjpQPBMn7oFlRGXgpOCOv-eg-v1pTQkCMtQnEMOyUzuGJVHIpzfSjlDOTlfP-jLZTjmtSYe_z7-ih1hRFklxGsCDRm5Cod3sNQ/file# [following]
--2022-09-10 09:29:19--  https://ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com/cd/0/inline/BsoyAcVhwMsBu0rhmPBleeRal6FLfNOHA350YNwh02yRSuqEFMbmIwo83VW8K9QtWfOb-DbBNWwfQjpQPBMn7oFlRGXgpOCOv-eg-v1pTQkCMtQnEMOyUzuGJVHIpzfSjlDOTlfP-jLZTjmtSYe_z7-ih1hRFklxGsCDRm5Cod3sNQ/file
Resolving ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com (ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com (ucc9daa3bacd76b0a20008618ffd.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2475052 (2.4M) [text/plain]
Saving to: ‘ratings.csv’

ratings.csv         100%[===================>]   2.36M  --.-KB/s    in 0.07s

2022-09-10 09:29:19 (32.3 MB/s) - ‘ratings.csv’ saved [2475052/2475052]

In [ ]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [ ]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [ ]:
ratings

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

In [ ]:
merged_left = pd.merge(left=movies, right=ratings, how='left', left_on='movieId', right_on='movieId')
merged_left

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,5.0,8.590469e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1.303501e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,5.0,8.586109e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.0,8.508158e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14.0,4.0,8.517663e+08
...,...,...,...,...,...,...
105338,148238,A Very Murray Christmas (2015),Comedy,475.0,3.0,1.451213e+09
105339,148626,The Big Short (2015),Drama,458.0,4.0,1.452015e+09
105340,148626,The Big Short (2015),Drama,576.0,4.5,1.451688e+09
105341,148626,The Big Short (2015),Drama,668.0,4.5,1.451148e+09
105342,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475.0,4.0,1.451223e+09

In [ ]:
#ipywidgets.Text() are not working in colab so inputs are simply taken by input()
gen=input("Genre(g):")
thres=int(input("Minimum reviews threshold(t):"))
rec=int(input("Num recommendations(N):"))

Genre(g):Comedy
Minimum reviews threshold(t):100
Num recommendations(N):5

In [ ]:
out=merged_left[merged_left["genres"]==gen].sort_values(by=["genres",'rating','userId'],ascending=False)

In [ ]:
out = out[out["userId"]>=int(thres)]
out["Num Reviews"]=out.userId.astype("int")
out["Movie Title"]=out.title
out["Average Movie Rating"]=out.rating.astype('float')
out=out.reset_index(drop=True)
final = out[["Movie Title","Average Movie Rating","Num Reviews"]].head(rec)
final

              Movie Title  Average Movie Rating  Num Reviews
0           Clerks (1994)                   5.0          666
1  Raising Arizona (1987)                   5.0          666
2        Jerk, The (1979)                   5.0          666
3         Election (1999)                   5.0          666
4          Blended (2014)                   5.0          664

### POPULARITY-BASED RECOMMENDATION SYSTEM

In [ ]:
#ipywidget.Text() not working
movie = input('Movie Title(t):')
recm = int(input("Num recommendations(N):"))

Movie Title(t):Blended
Num recommendations(N):5

In [ ]:
for i in range(0,len(movies)):
  Str= movies["title"][i]
  l = len(Str)
  Remove_last = Str[:l-7]
  movies["title"][i]=Remove_last

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
n_movies = movies

In [ ]:
movies=n_movies[n_movies["title"]==movie]

In [ ]:
id=movies["movieId"].tolist()
id=id[0]

In [ ]:
genre=merged_left[merged_left["movieId"]==id]["genres"]

In [ ]:
genre=genre.unique()

In [ ]:
ge=genre.tolist()[0]

In [ ]:
out2=merged_left[merged_left["genres"]==ge ].sort_values(by=["genres","rating","userId"], ascending=False)

In [ ]:
out3=out2.reset_index(drop=True)

In [ ]:
out3["Movie Title"]=out3["title"]
out3=out3["Movie Title"].head(rec)

In [ ]:
out3=pd.DataFrame(out3)
out3

              Movie Title
0           Clerks (1994)
1  Raising Arizona (1987)
2        Jerk, The (1979)
3         Election (1999)
4          Blended (2014)

###CONTENT-BASED RECOMMENDATION SYSTEM

In [ ]:
#ipywidgets.Text() not working in colab
mv=input("Movie Title(t):")
rec=int(input("Num recommendations(N):"))

Movie Title(t):Toy Story
Num recommendations(N):5

In [ ]:
 n_movies = movies

In [ ]:
movie = n_movies[n_movies["title"]==mv]

In [ ]:
id=movies['movieId'].tolist()
id=id[0]

In [ ]:
genre=merged_left[merged_left["movieId"]==id]["genres"]

In [ ]:
genre=genre.unique()

In [ ]:
ge=genre.tolist()[0]

In [ ]:
out2=merged_left[merged_left["genres"]==ge].sort_values(by=["genres","rating","userId"],ascending=False)

In [ ]:
out3=out2.reset_index(drop=True)

In [ ]:
out3["Movie Title"]=out3["title"]
out3=out3["Movie Title"].head(rec)

In [ ]:
out3=pd.DataFrame(out3)
out3

              Movie Title
0           Clerks (1994)
1  Raising Arizona (1987)
2        Jerk, The (1979)
3         Election (1999)
4          Blended (2014)

###COLLABORATIVE BASED RECOMMENDATION SYSTEM

In [ ]:
usr=int(input("UserID:"))
rec=int(input("Num recommendations (N):"))
thr=int(input("Threshold for similar users (k):"))

UserID:1
Num recommendations (N):5
Threshold for similar users (k):100

In [ ]:
usr_mv=merged_left[merged_left["userId"]==usr][["title","userId"]]

In [ ]:
a=usr_mv.title.tolist()
diff_usr=merged_left[merged_left["title"]==a[0]]
for i in range(0,len(diff_usr)):
  diff_usr=diff_usr.append(merged_left[merged_left["title"]==a[i]])

In [ ]:
diff_usr=diff_usr["userId"].unique()

In [ ]:
diff_usr=diff_usr.tolist()

In [ ]:
diff_usr=diff_usr[:thr]
sg_mv=merged_left[merged_left["userId"]==diff_usr[0]]
for i in range(0,len(diff_usr)):
  sg_mv=sg_mv.append(merged_left[merged_left["userId"]==diff_usr[i]])

In [ ]:
sg_mv=sg_mv.reset_index(drop=True)

In [ ]:
sg_mv=sg_mv["title"].unique()

In [ ]:
sg_mv=pd.DataFrame(sg_mv,columns=["Movie Title"])

In [ ]:
sg_mv.head(rec)

                                 Movie Title
0                              Casino (1995)
1                              Powder (1995)
2  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
3                Seven (a.k.a. Se7en) (1995)
4                 Usual Suspects, The (1995)